html {
    background: linear-gradient(lightblue, darkblue);
    background-repeat: no-repeat;
    height: 100%;
}
body {
    height: 100%;
    margin: 0 auto;
}
#center {
    margin: 0 auto;
}
.winner {
    color: green;
}