* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image:  url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Lato';
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 100vh;
    color:  #222;
}
.center {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 50px;
    text-align: center;
    background-color: whitesmoke;
    text-transform: uppercase;
}
#material-icons {
    font-size: 5rem;
    color: #EB4D4D;
}
hr {
    margin: 1rem;
}
h1, p{
    font-size: 3rem;
    margin: 5px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 4rem;
}
input {
    width: 200px;
    border: 2px solid #EB4D4D;
    border-radius: 4px;
    margin-bottom: 20px;
}
input:focus
{
    background-color:  #EB4D4D;
    color: whitesmoke;
}
#p1, #p2, #reset {
    background-color:  whitesmoke;
    border: 1px solid #EB4D4D;
    padding: 16px 32px;
    font-weight: 300;
    font-size: 1em;
    margin: 2vh 1vw;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Lato';
    width: 200px;
    height: 50px;
    transition-property: width;
    transition-timing-function: ease-out;
    transition-duration: .5s;
   
}
#p1:hover,
#p2:hover,
#reset:hover {
  width: 250px;
}

.winner {
    color: lightblue;
}